.fill
{
    padding-top: 10%;

    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.k{
    align-items: center;
    color: rgb(23, 10, 212);
}
