ion-content.background{

    --ion-background-color:rgb(26, 26, 26);
}
.j{
   position: absolute;
   top: 93%;
}
.d{
    float: right;
}
.cole{
    position: absolute;
    top:90%;
    left:62%;
}
.role{
     position: absolute;
top :90%;
right: -23%;
}
.scroll-content{
    background:("../../assets/mini_3200x2000-MESSI_768-eng.jpg") 
 
}