

<ion-header>
  <ion-toolbar  >
    <ion-title style="text-align: center;">Upload Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-content" >
  <ion-grid>
    <ion-row >
      <ion-col class="role">
        <ion-icon size="large"   name="camera-outline" (click)="takePhoto(1)">Show Camera</ion-icon>
      </ion-col>
      <ion-row>
      <ion-col  class="cole">
        <ion-icon size="large" name="image-outline" class="k" (click)="takePhoto(0)">Show Album</ion-icon>
      </ion-col>
      </ion-row>
    </ion-row>
  
  </ion-grid>
  <div *ngIf="base64Image">
    <img [src]="base64Image">
    <ion-icon name="cloud-upload-outline"  size="large" 
    (click)="upload()">Upload to Firebase!</ion-icon>
  </div>
</ion-content>
